@model IEnumerable<ExperienceItem>

@foreach (ExperienceItem item in Model)
{
    <div class="row @(item.IsTopBorder ? "border-top border-black" : "")">
        <div class="col-6">
            <h5 class="text-primary mb-0">@item.Company</h5>
            <p class="mb-0">@item.Title</p>
        </div>
        <div class="col-6 text-end">
            <p class="mb-0">@item.Location</p>
            <p class="fw-bold mb-0">@item.Period</p>
        </div>
        <div class="col-12 border-top border-black">
            <ul>
                @foreach (var bullet in item.Bullets)
                {
                    <li>@bullet</li>
                }
            </ul>
        </div>
    </div>
}